@import '~scss/vars';
@import '~scss/styles';

label{
  color: $white;
}
.selected {
 
  color: $white;
}
.books {
  margin: 0 0 10px 0;
  list-style-type: none;
  width: 400px;
}
.books li {
  cursor: pointer;
  position: relative;
  background-color: $li_bg;
  margin: 5px;
  padding: 5px 0;
  height: 30px;
  border-radius: 4px;
}
.books li.selected:hover {
  background-color:$blue3;
  color: $white;
}
.books li:hover {
  background-color:$white2;
}
.books .text {
  position: relative;
}
.books .badge {
    display: inline-block;
    font-size: small;
    color: $white;
    padding: 13px 12px 0 12px;
    background-color:$badge;
    width:30px;
    position: relative;
    left: -1px;
    top: -4px;
    height: 30px;
    border-radius: 4px 0 0 4px;
}
.delete{
width: 50px;
height: 20px;;
font-size: smaller;
}