<div class="container">
  <div class="content">
      <div class="row">
          <div class="col-sm-8" style="background-color:white">
            <h5>Book Store</h5>
            <ul class="books">
              <li *ngFor="let book of books" [class.selected]="book === selectBook" (click)="onSelect(book)">
                <span class="badge">{{book.id}}</span> <span>{{book.name}}</span>
              </li>
            </ul>
          </div>
          <div class="col-sm-4" style="background-color:white">
            <app-book-detail [book]="selectedBook"></app-book-detail>
          </div>
      </div>
  </div>
</div>