<div class="container_body">
  <div class="container">
    <app-nav></app-nav>
  </div>
 
  <div class="dashboard">
    <div class="container-fluid">
      <div class="row">
        <div class="dashboard">
          <nav>
            <h3><a routerLink="/dashboard">Dashboard</a>
            <a routerLink="/books">Books</a></h3>
          </nav>
            
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="details">
        <app-content></app-content>
    </div>
  </div>
  
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div>
