@import '~scss/vars';
@import '~scss/styles';

.container_body {
    background: url('../assets/images/book.png') no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 70px;
}
.dashboard{
    padding: 20px;
    width: 100%;
}
.details {
    margin: 30px;
    background-color: $bg-color;
    border: 1px solid $black1;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.dashboard{
    min-height: 300px;
}
