/* fonts */
$font-family: Arial, Helvetica, sans-serif;

/* color pallette */
$white:#ffffff;
$white2:#DDD;
$bg-color: #e6e6ff;
$blue1:#336699;
$blue2:#050f69;
$blue3:#BBD8DC;
$red1: #ff0000;
$grey1: #888888;
$grey2:#70726F;
$black1:#000000;
$li_bg:#EEE;
$badge: #607D8B;

