@import './vars';
@import'./mixins';

h1 {
  color: $font-color;
  font-size: 250%;
  }
h2, h3 {
  color: #fff;
  font-weight: lighter;
  }
input[text], button {
  color: #888;
  }
body{
  background: $bg-color;
  font: $font-family;
  }
