@import './vars';
@import'./mixins';

h1 {
  color: $blue1;
  font-size: 250%;
}
h2, h3 {
  color: $white;
  font-weight:bold;
}

input[text], button {
  color: $grey1;
}
body {
  background: $bg-color;
  font: $font-family;
}
