@import '~scss/vars';

p{
  color: $white;
}
#search-component{
  float: right;
  max-width: 200px;
  max-height: 150px;
  margin-top: -10px;
}
.search-result li {
  border-bottom: 1px solid $grey1;
  border-left: 1px solid $grey1;
  border-right: 1px solid $grey1;
  width: 150px;
  height: 25px;
  padding: 5px;
  background-color: $white;
  cursor: pointer;
  list-style-type: none;
  float:right;
  }
   
.search-result li:hover {
  background-color: $grey1;
}
  
.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}
  
.search-result li a:hover {
  color: $white;
}
.search-result li a:active {
  color: $white;
}
.search-result li a span{
  white-space: pre-wrap;
}
#search-box {
  width: 200px;
  height: 25px;
} 
ul.search-result {
  margin-top: 0;
  padding-left: 0;
  text-align: right;
}